Version1/backend/static/__pycache__/aiMoveGenerator.cpython-310.pyc
Version1/backend/static/__pycache__/app.cpython-310.pyc
Version1/backend/static/__pycache__/chessBoard.cpython-310.pyc
Version1/backend/static/__pycache__/Game.cpython-310.pyc
Version1/backend/static/__pycache__/main.cpython-310.pyc
Version1/backend/static/__pycache__/moveChecker.cpython-310.pyc
Version1/backend/static/__pycache__/Pieces.cpython-310.pyc
Version1/backend/static/__pycache__/PiecesPosDict.cpython-310.pyc
Version1/backend/static/__pycache__/Points.cpython-310.pyc
Version1/backend/static/__pycache__/square.cpython-310.pyc
Version1/backend/static/__pycache__/aiMoveGenerator.cpython-310.pyc
Version1/backend/static/__pycache__/app.cpython-310.pyc
Version1/backend/static/__pycache__/chessBoard.cpython-310.pyc
Version1/backend/static/__pycache__/moveChecker.cpython-310.pyc
Version1/backend/static/__pycache__/Pieces.cpython-310.pyc
Version1/backend/static/__pycache__/PiecesPosDict.cpython-310.pyc
Version1/backend/static/__pycache__/Points.cpython-310.pyc
Version1/backend/static/__pycache__/square.cpython-310.pyc
