.board {
    width: 37rem;
    height: 37rem;
    border: 0.5rem solid #312e2c;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

.legendTop {
    width: 37rem;
    height: 1rem;
    text-align: center;
    border: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(1, 100%);
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 30px;
    /* margin-left: -93px; */
    /* line-height: 4.5rem; */
}

.legendSide {
    width: 1.25rem;
    height: 37rem;
    text-align: center;
    border: 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 12.5%);
    font-weight: 400;
    font-size: 1.5rem;
    /* line-height: 4.5rem; */
}
.reset{
    /* position: absolute; */
    /* border-radius: 50%; */
    background-color: #ac1807;
    border: none;
    color: white;
    /* padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; */
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2px 5px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.errorMessage{
    /* position: absolute;
    left: 611px;
    top: 340px; */
    color: red;
    /* background-color: #f1c40f; */
    /* padding: 10px;
    border-radius: 5px; */
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 10px;
}
.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 35rem;
    z-index: 99;
    position: fixed;
    color: red;
    font-size: 60px;
    font-weight: bolder;
    margin: 0.5rem;
}

.boardside {
    padding-left: 20%;
    padding-top: 40px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #312e2c;
    overflow-x: hidden;
    padding-top: 20px;
    color: #b48866;

}

.sidevals{
    margin-left: 30px;
    font-weight: 600;
    font-size: 1.25rem;
    top: 25%;
    position: fixed;
}