/* You can add global styles to this file, and also import other style files */
.reset{
    position: absolute; left: 607px; top: 200px;
    border-radius: 50%;
    background-color: #ac1807;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}